    /* ####################################################
    :: Template Name: Essence - Fashion Ecommerce Template
    :: Author: Colorlib
    :: Author URL: https://colorlib.com
    :: Description: Essence is smart & elegant fashion e-commerce Template. It's suitable for all e-commerce business platform.
    :: Version: 1.0.0
    :: Created: April 27, 2018
    :: Last Updated: May 2, 2018
    #################################################### */

    /* ---------------------------------------
    ##### - PLACE YOUR CUSTOM CSS HERE - #####
    --------------------------------------- */
    a {
    	text-decoration: none !important;
    }

    .home-slide .slick-list {
    	margin-right: -30px !important;
    }

    .home-slide .slick-slide {
    	margin-right: 30px;
    	/* width: 255px!important; */
    	max-width: 255px !important;
    }


    .btn-login {
    	font-size: 0.9rem;
    	letter-spacing: 0.05rem;
    	padding: 0.75rem 1rem;
    }

    .btn-google {
    	color: white !important;
    	background-color: #ea4335;
    }

    .btn-facebook {
    	color: white !important;
    	background-color: #3b5998;
    }

    .login-form .seperator {
    	float: left;
    	width: 100%;
    	border-top: 1px solid #ccc;
    	text-align: center;
    	margin: 50px 0 0;
    }

    .login-form .seperator b {
    	width: 40px;
    	height: 40px;
    	font-size: 16px;
    	text-align: center;
    	line-height: 40px;
    	background: #fff;
    	display: inline-block;
    	border: 1px solid #e0e0e0;
    	border-radius: 50%;
    	position: relative;
    	top: -22px;
    	z-index: 1;
    }

    .login-form p {
    	float: left;
    	width: 100%;
    	text-align: center;
    	font-size: 16px;
    	margin: 0 0 10px;
    }

    .single_product_details_area .single_product_desc .nice-select .current {
    	line-height: 60px;
    }

    .single_product_details_area .single_product_desc span {
    	font-size: 14px;
    	text-transform: uppercase;
    	font-weight: 600;
    	color: #787878;
    	margin-bottom: 10px;
    	display: block;
    }

    input[type="range"] {
    	width: 100%;
    	height: 5px;
    	cursor: pointer;
    	animate: 0.2s;
    	box-shadow: 0px 0px 0px #000000;
    	background: #2497E3;
    	border-radius: 1px;
    	border: 0px solid #000000;
    }

    .user-login-info ul.dropdown-user li {
    	width: 140px;
    	height: 35px;
    	line-height: 35px;
    	color: #787878;
    }

    .user-login-info ul {
    	position: absolute;
    	top: 80%;
    	visibility: hidden;
    	opacity: 0;
    	box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
    	background: white;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	transition-duration: .3s;
    	min-width: 140px;
    	flex-direction: column;
    	right: 0;
    	padding: 5px;
    }

    .user-login-info img:hover ul {
    	background: orange !important;
    }

    .user-login-info:hover ul {
    	visibility: visible;
    	opacity: 1;
    }

    .user-login-info ul.dropdown-user li:hover {
    	color: black;
    }




    .shoping-cart {
    	padding-top: 80px;
    	padding-bottom: 80px;
    }

    .shoping__cart__table {
    	margin-bottom: 30px;
    }

    .shoping__cart__table table {
    	width: 100%;
    	text-align: center;
    }

    .shoping__cart__table table thead tr {
    	border-bottom: 1px solid #ebebeb;
    }

    .shoping__cart__table table thead th {
    	font-size: 20px;
    	font-weight: 700;
    	color: #1c1c1c;
    	padding-bottom: 20px;
    }

    .shoping__cart__table table thead th.shoping__product {
    	text-align: left;
    }

    .shoping__cart__table table tbody tr td {
    	padding-top: 30px;
    	padding-bottom: 30px;
    	border-bottom: 1px solid #ebebeb;
    }

    .shoping__cart__table table tbody tr td.shoping__cart__item {
    	width: 630px;
    	text-align: left;
    }

    .shoping__cart__table table tbody tr td.shoping__cart__item img {
    	display: inline-block;
    	margin-right: 25px;
    	max-width: 100px;
    }

    .shoping__cart__table table tbody tr td.shoping__cart__item h5 {
    	color: #1c1c1c;
    	display: inline-block;
    	font-weight: 400;
    	font-size: 18px;
    }

    .shoping__cart__table table tbody tr td.shoping__cart__price {
    	font-size: 18px;
    	color: #1c1c1c;
    	font-weight: 700;
    	width: 100px;
    }

    .shoping__cart__table table tbody tr td.shoping__cart__total {
    	font-size: 18px;
    	color: #1c1c1c;
    	font-weight: 700;
    	width: 110px;
    }

    .shoping__cart__table table tbody tr td.shoping__cart__item__close {
    	text-align: right;
    }

    .shoping__cart__table table tbody tr td.shoping__cart__item__close span {
    	font-size: 24px;
    	color: #b2b2b2;
    	cursor: pointer;
    }

    .shoping__cart__table table tbody tr td.shoping__cart__quantity {
    	width: 225px;
    }

    .shoping__cart__table table tbody tr td.shoping__cart__quantity .pro-qty {
    	width: 120px;
    	height: 40px;
    }

    .shoping__cart__table table tbody tr td.shoping__cart__quantity .pro-qty input {
    	color: #1c1c1c;
    }

    .shoping__cart__table table tbody tr td.shoping__cart__quantity .pro-qty input::placeholder {
    	color: #1c1c1c;
    }

    .shoping__cart__table table tbody tr td.shoping__cart__quantity .pro-qty .qtybtn {
    	width: 15px;
    }

    .primary-btn.cart-btn {
    	color: #6f6f6f;
    	padding: 14px 30px 12px;
    	background: #f5f5f5;
    }

    .primary-btn.cart-btn span {
    	font-size: 14px;
    }

    .primary-btn.cart-btn.cart-btn-right {
    	float: right;
    }

    .shoping__discount {
    	margin-top: 45px;
    }

    .shoping__discount h5 {
    	font-size: 20px;
    	color: #1c1c1c;
    	font-weight: 700;
    	margin-bottom: 25px;
    }

    .shoping__discount form input {
    	width: 255px;
    	height: 46px;
    	border: 1px solid #cccccc;
    	font-size: 16px;
    	color: #b2b2b2;
    	text-align: center;
    	display: inline-block;
    	margin-right: 15px;
    }

    .shoping__discount form input::placeholder {
    	color: #b2b2b2;
    }

    .shoping__discount form button {
    	padding: 15px 30px 11px;
    	font-size: 12px;
    	letter-spacing: 4px;
    	background: #6f6f6f;
    }

    .shoping__checkout {
    	background: #f5f5f5;
    	padding: 30px;
    	padding-top: 20px;
    	margin-top: 50px;
    }

    .shoping__checkout h5 {
    	color: #1c1c1c;
    	font-weight: 700;
    	font-size: 20px;
    	margin-bottom: 28px;
    }

    .shoping__checkout ul {
    	margin-bottom: 28px;
    }

    .shoping__checkout ul li {
    	font-size: 16px;
    	color: #1c1c1c;
    	font-weight: 700;
    	list-style: none;
    	overflow: hidden;
    	border-bottom: 1px solid #ebebeb;
    	padding-bottom: 13px;
    	margin-bottom: 18px;
    }

    .shoping__checkout ul li:last-child {
    	padding-bottom: 0;
    	border-bottom: none;
    	margin-bottom: 0;
    }

    .shoping__checkout ul li span {
    	font-size: 18px;
    	color: #dd2222;
    	float: right;
    }

    .shoping__checkout .primary-btn {
    	display: block;
    	text-align: center;
    }

    /*---------------------
	Checkout
  -----------------------*/

    .checkout {
    	padding-top: 80px;
    	padding-bottom: 60px;
    }

    .checkout h6 {
    	color: #999999;
    	text-align: center;
    	background: #f5f5f5;
    	border-top: 1px solid #6AB963;
    	padding: 12px 0 12px;
    	margin-bottom: 75px;
    }

    .checkout h6 span {
    	font-size: 16px;
    	color: #6AB963;
    	margin-right: 5px;
    }

    .checkout h6 a {
    	text-decoration: underline;
    	color: #999999;
    }

    .checkout__form h4 {
    	color: #1c1c1c;
    	font-weight: 700;
    	border-bottom: 1px solid #e1e1e1;
    	padding-bottom: 20px;
    	margin-bottom: 25px;
    }

    .checkout__form p {
    	column-rule: #b2b2b2;
    }

    .checkout__input {
    	margin-bottom: 24px;
    }

    .checkout__input p {
    	color: #1c1c1c;
    	margin-bottom: 20px;
    }

    .checkout__input p span {
    	color: #dd2222;
    }

    .checkout__input input {
    	width: 100%;
    	height: 46px;
    	border: 1px solid #ebebeb;
    	padding-left: 20px;
    	font-size: 16px;
    	color: #b2b2b2;
    	border-radius: 4px;
    }

    .checkout__input input.checkout__input__add {
    	margin-bottom: 20px;
    }

    .checkout__input input::placeholder {
    	color: #b2b2b2;
    }

    .checkout__input__checkbox {
    	margin-bottom: 10px;
    }

    .checkout__input__checkbox label {
    	position: relative;
    	font-size: 16px;
    	color: #1c1c1c;
    	padding-left: 40px;
    	cursor: pointer;
    }

    .checkout__input__checkbox label input {
    	position: absolute;
    	visibility: hidden;
    }

    .checkout__input__checkbox label input:checked~.checkmark {
    	background: #7fad39;
    	border-color: #7fad39;
    }

    .checkout__input__checkbox label input:checked~.checkmark:after {
    	opacity: 1;
    }

    .checkout__input__checkbox label .checkmark {
    	position: absolute;
    	left: 0;
    	top: 4px;
    	height: 16px;
    	width: 14px;
    	border: 1px solid #a6a6a6;
    	content: "";
    	border-radius: 4px;
    }

    .checkout__input__checkbox label .checkmark:after {
    	position: absolute;
    	left: 1px;
    	top: 1px;
    	width: 10px;
    	height: 8px;
    	border: solid white;
    	border-width: 3px 3px 0px 0px;
    	-webkit-transform: rotate(127deg);
    	-ms-transform: rotate(127deg);
    	transform: rotate(127deg);
    	content: "";
    	opacity: 0;
    }

    .checkout__order {
    	background: #f5f5f5;
    	padding: 40px;
    	padding-top: 30px;
    }

    .checkout__order h4 {
    	color: #1c1c1c;
    	font-weight: 700;
    	border-bottom: 1px solid #e1e1e1;
    	padding-bottom: 20px;
    	margin-bottom: 20px;
    }

    .checkout__order .checkout__order__products {
    	font-size: 18px;
    	color: #1c1c1c;
    	font-weight: 700;
    	margin-bottom: 10px;
    }

    .checkout__order .checkout__order__products span {
    	float: right;
    }

    .checkout__order ul {
    	margin-bottom: 12px;
    }

    .checkout__order ul li {
    	font-size: 16px;
    	color: #6f6f6f;
    	line-height: 40px;
    	list-style: none;
    }

    .checkout__order ul li span {
    	font-weight: 700;
    	float: right;
    }

    .checkout__order .checkout__order__subtotal {
    	font-size: 18px;
    	color: #1c1c1c;
    	font-weight: 700;
    	border-bottom: 1px solid #e1e1e1;
    	border-top: 1px solid #e1e1e1;
    	padding-bottom: 15px;
    	margin-bottom: 15px;
    	padding-top: 15px;
    }

    .checkout__order .checkout__order__subtotal span {
    	float: right;
    }

    .checkout__order .checkout__input__checkbox label {
    	padding-left: 20px;
    }

    .checkout__order .checkout__order__total {
    	font-size: 18px;
    	color: #1c1c1c;
    	font-weight: 700;
    	border-bottom: 1px solid #e1e1e1;
    	padding-bottom: 15px;
    	margin-bottom: 25px;
    }

    .checkout__order .checkout__order__total span {
    	float: right;
    	color: #dd2222;
    }

    .checkout__order button {
    	font-size: 18px;
    	letter-spacing: 2px;
    	width: 100%;
    	margin-top: 10px;
    }

    .pro-qty {
    	width: 140px;
    	height: 50px;
    	display: inline-block;
    	position: relative;
    	text-align: center;
    	background: #f5f5f5;
    	margin-bottom: 5px;
    }

    .pro-qty .qtybtn {
    	width: 35px;
    	font-size: 16px;
    	color: #6f6f6f;
    	cursor: pointer;
    	display: inline-block;
    }

    .pro-qty input {
    	height: 100%;
    	width: 100%;
    	font-size: 16px;
    	color: #6f6f6f;
    	width: 50px;
    	border: none;
    	background: #f5f5f5;
    	text-align: center;
    }

    i.fa.fa-trash {
    	cursor: pointer;
    }

    .shoping__cart__item__close i {
    	cursor: pointer;
    }

    a.primary-btn {
    	display: inline-block;
    	font-size: 14px;
    	padding: 10px 28px 10px;
    	color: #ffffff;
    	text-transform: uppercase;
    	font-weight: 700;
    	background: #7fad39;
    	letter-spacing: 2px;
    }
	.classynav ul{
		width: 100%;
	}
	.breakpoint-on ul.dropdown {
		/* opacity: 0; */
		transition:  max-height 0.6s ease-out;
		max-height: 0;
		overflow: hidden;
		display: block!important;
	}
	
	.breakpoint-on .active ul.dropdown {
		/* opacity: 1; */
		max-height: 400px;
	}
	.breakpoint-on .megamenu {
		/* opacity: 1; */
		display: block!important;
		transition:  max-height 0.8s ease-out!important;
		max-height: 0px;
		overflow: hidden;
	}
	.breakpoint-on .active .megamenu {
		/* opacity: 1; */
		max-height: 600px;
	}
    @media only screen and (max-width: 1200px) {
    	*{

		}
		.home-slide .slick-slide {
			max-width: 210px!important;
		}
    }

    @media only screen and (max-width: 991px) {
    	*{

		}
		.home-slide .slick-slide {
			max-width: 211px!important;
		}
    }
	@media only screen and (max-width: 768px) {
    	*{

		}
		.home-slide .slick-slide {
			min-width: 240px!important;
		}
    }
	@media only screen and (max-width: 576px) {
    	*{

		}
		.home-slide .slick-slide {
			max-width: 100%!important;
			min-width: none!important;
		}
		.home-slide .slick-list{
			margin-right: 0px!important;
		}
		.slick-slide.slick-cloned{
			display: none!important;
		}
    }